#gitignore generato da me (si spera che funzioni!)
#ignora oggetti eseguibili
*.exe
*.out
*.o

#ignora file multimediali
*.mp3

#ignora file generazione latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.synctex

#ignora archivi senno fai danni
*.zip

#ignora file relativi alla vm
*.vdi
*.vbox
*.vbox-prev
*.log.*

#ignora file relativi a xournal++
*.autosave.*
